<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Node</title>

    <!--esto es para incluir el archivo heads para no tener que copiar los mismos links
  en todos los ejs -->
    <% include partials/heads %>
  </head>
  <body>
    <div class="container">
      <div class="card text-center mt-5">
        <div class="card-body">
          <h1><span class="fa fa-lock"></span>Login or Register</h1>
          <a href="/login" class="btn btn-light btn-lg">
            <span class="fa fa-user"></span>Login
          </a>
          <a href="/signup" class="btn btn-light btn-lg">
            <span class="fa fa-user"></span>SignUp
          </a>
          </div>
        </div>
      </div>


  </body>
</html>
