<!DOCTYPE html>
<html>

<head>
  <title>Geolocation</title>
  <% include partials/heads %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
      border: 1px solid black;
      height: 65%;
      width: 65%;
      margin-top: 20px;
      margin-bottom: 80px;
      margin-right: 100px;
      margin-left: 300px;
    }
    #submiti{
      visibility: hidden;

    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    label ,button{
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 100px;
      margin-left: 500px;
      padding:0;
    }
  </style>
</head>

<body>
  <div class="container">


    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
        <li class="breadcrumb-item"><a href="/logout">LogOut</a></li>
      </ol>
    </nav>
  </div>
  <div id="map"></div>
  <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow,cordenadas=new Array();

    function getpos(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      return pos;
    }
    var myvar = setInterval(initMap,3000);
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: -34.397,
          lng: 150.644
        },
        zoom: 18
      });
      function submitcoords(lat,lng){

      }
      infoWindow = new google.maps.InfoWindow;

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = getpos(position);
          cordenadas.push(pos);
          //console.log(cordenadas[cordenadas.length-1].lat+" , "+cordenadas[cordenadas.length-1].lng);
          document.getElementById("longitud").innerHTML = pos.lng;
          document.getElementById("latitud").innerHTML = pos.lat;
          document.getElementById("lati").value = pos.lat;
          document.getElementById("long").value = pos.lng;
          document.getElementById("submiti").submit();
          //console.log("Latitud"+document.getElementById("lati").value)
          infoWindow.setPosition(pos);
          map.setCenter(pos);
          var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
          var beachMarker = new google.maps.Marker({
            position: {
              lat: pos.lat,
              lng: pos.lng
            },
            map: map,
            icon: image
          });
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }

    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBUESrjJblZjUAjlrSOPwLhHo2X0UZAHI&callback=initMap">
  </script>
  <label for="longitud" id="longitud"></label>
  <label for="latitud" id="latitud"></label>
  <button type="button" name="button" onclick="clearInterval(myvar)">Stop get location</button>
  <form action="/map" method="post" id="submiti">
    <div class="form-group">
      <label for="latitud">Latitud</label>
      <input type="latitud" name="latitud" class="form-control" id="lati">
    </div>

    <div class="form-group">
      <label for="longitud"></label>
      <input type="longitud" name="longitud" class=" form-control" id="long">
    </div>
    <input type="submit" class="btn btn-dark">
  </form>
</body>

</html>
